{% load staticfiles %}
<html>
<head>
  <title>{% block title %}Totes Coins Bro{% endblock %}</title>
  <link href="{% static "bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static "app.css" %}" rel="stylesheet">
  <script src="{% static "jquery-2.1.4.js" %}"></script>
  <script src="{% static "bootstrap.min.js" %}"></script>
  <!-- <script src="{% static "highcharts.js" %}"></script> -->
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="{% static "app.js" %}"></script>
  {% block css %}
  {% endblock %}
</head>
<body>

{% block content %}
{% endblock %}
</body>
</html>
